version: "3.9"
services:
  scraper-cookie:
    container_name: SCRAPERCOOKIE_DEV
    build:
      context: .
      dockerfile: dev.Dockerfile
    ports:
      - 3032:3032
    volumes:
      - .:/workspaces/scraperCookie
    # env_file:
    #   - .devcontainer/dev.env
    working_dir: /workspaces/scraperCookie
    tty: true
    entrypoint: ["bash"]
